.form_group {
  padding: 0.313rem;
}

.label {
  display: flex;
  justify-content: space-between;
}
.label_name {
  margin-bottom: 0.25rem;
}
.label_required {
  color: #dc3545;
}
.input_required {
  border-color: #ce7c84 !important;
  box-shadow: 0 0 0 0.1rem #dc35466f !important;
}
.input_required:focus {
  box-shadow: 0 0 0 0.2rem #dc35466f !important;
}
