.backwall {
  background: url('../images/wallpaper-opacity.png') no-repeat center center
    fixed;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  background-repeat: repeat-y;
}
.itemsContainer {
  margin-top: 3.45%;
  background-color: white;
}
.boxShadow {
  box-shadow: 0px 0px 10px 6px rgb(0, 0, 0, 0.19);
}
.buttonShadow {
  box-shadow: 0px 0px 10px 6px rgba(105, 105, 105, 0.596);
}
.headerShadow {
  box-shadow: 0px 4px 15px 9px rgba(0, 0, 0, 0.19);
}
#backToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
.wmde-markdown {
  font-family: 'Didact-Gothic', sans-serif !important;
}
