.hidden {
  opacity: 0%;
  pointer-events: none !important;
}

.div {
  width: 100% !important;
  justify-content: center !important;
  pointer-events: none;
  display: flex;
  position: fixed;
  top: 5.375rem;
  z-index: 3;
}

.body {
  display: inline-flex;
  width: 100%;
}

.text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.toast {
  text-align: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2) !important;
  border: none !important;
}

.heading {
  margin: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
