.positionDiv {
  width: 100% !important;
  justify-content: center !important;
  pointer-events: none;
  display: flex;
  position: fixed;
  top: 5rem;
  z-index: 3;
}

.toast {
  box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.64) !important;
  border: none !important;
  background-color: rgba(255, 255, 255, 0.95) !important;
}

.hidden {
  opacity: 0%;
  pointer-events: none !important;
}

.headerFormat {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bodyFormat {
  width: 100%;
  text-align: center;
}

.headerLeft {
  padding-bottom: 0rem;
  margin: 0rem;
}

.headerRight {
  margin: 0rem;
}

.headerCloseS {
  color: white;
  cursor: pointer;
}
.headerCloseS:hover {
  color: #e3e3e3;
}

.headerCloseW {
  color: #212529;
  cursor: pointer;
}
.headerCloseW:hover {
  color: #474747;
}

.headerCloseD {
  color: white;
  cursor: pointer;
}
.headerCloseD:hover {
  color: #e3e3e3;
}

.headerCloseI {
  color: #212529;
  cursor: pointer;
}
.headerCloseI:hover {
  color: #474747;
}

.toastBody {
  display: inline-flex;
  width: 100%;
}

.heading {
  margin: 0rem;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
