.headingWithButtons {
  margin: 0;
  display: inline-block;
  margin-bottom: 5px;
}
.primaryButton {
  float: right;
}
.addColumn {
  display: flex;
  align-items: center;
}
.alignVertical {
  vertical-align: middle;
}
