body,
html {
  font-family: 'Didact-Gothic', sans-serif !important;
}

@font-face {
  font-family: 'Didact-Gothic';
  src: local('Didact-Gothic'),
    url(./assets/fonts/DidactGothic-Regular.ttf) format('truetype');
}
