body, html {
  font-family: 'Didact-Gothic', sans-serif !important;
}

@font-face {
  font-family: 'Didact-Gothic';
  src: local('Didact-Gothic'), url(./fonts/DidactGothic-Regular.ttf) format('truetype');
}

#pageTitle {
  font-family: 'Indie-Flower', sans-serif;
}

@font-face {
  font-family: 'Indie-Flower';
  src: local('Indie-Flower'), url(./fonts/IndieFlower-Regular.ttf) format('truetype');
}
