.accordion-button {
  padding-left: 0px !important;
}
.accordion-button:not(.collapsed) {
  color: #000000 !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
  border: none !important;
}
.accordion-button:focus {
  border: none !important;
  box-shadow: none !important;
}
.accordion-body {
  padding: 0px !important;
}
.accordion-heading {
  width: 100%;
  display: flex;
  justify-content: start;
  font-weight: bold;
}
