.dropdown {
  margin-bottom: 1rem;
  margin-top: 0;
}

.dropdown_toggle {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  width: 100%;
}

.dropdown_selectedItem {
  display: inline-block;
  justify-content: start;
  align-items: center;
  margin-left: 0.5rem;
}

.dropdown_optionIcon {
  margin-bottom: 0.25rem;
  margin-right: 1rem;
}

.dropdown_toggleIcon {
  margin-left: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .dropdown {
    margin-bottom: 0;
    margin-top: 0.25rem;
  }
}
